@import url("https://fonts.cdnfonts.com/css/md-grotesk");
:root, [data-theme=dark] {
  --nav-inner-margin:7rem;
  --nav-logo-width:4rem;
  --nav--h1-size:2.5rem;
  --nav--font-size:1.6rem;
  --sec-padding:4.5rem;
}

header {
  max-width: 100%;
  position: relative;
  color: white;
}
header nav {
  z-index: 999;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 20px;
}
header nav #logo-container {
  flex: 1;
  padding-left: 20px;
}
header nav #logo-container a {
  text-decoration: none;
  color: white !important;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
}
header nav #logo-container a img {
  position: absolute;
  border: 1px solid black;
  margin-bottom: 50px;
  width: 150px;
  height: auto;
}
header nav #nav-container {
  flex: 2.5;
}
header nav #nav-container ul li {
  display: flex;
  gap: 40px;
  list-style-type: none;
  text-align: center;
}
header nav #nav-container ul li a {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-style: "Helvetica", sans-serif;
  font-size: large;
  text-decoration: none;
  text-transform: uppercase;
}
header nav #nav-container ul li a:hover {
  color: rgb(95, 95, 95);
}
header nav #nav-container ul li ul.nav-dropdown {
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 1.2rem 0 var(--shadow-color);
  display: none;
}
header nav #nav-container ul li ul.nav-dropdown li {
  min-width: 190px;
}
header nav #nav-container ul li ul.nav-dropdown li a {
  padding: 15px;
  line-height: 20px;
}
header nav #nav-container #nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}
header nav #nav-container #nav-mobile #burger-menu {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
header nav #nav-container #nav-mobile #burger-menu span,
header nav #nav-container #nav-mobile #burger-menu span:before,
header nav #nav-container #nav-mobile #burger-menu span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: var(--white-color);
  position: absolute;
  display: block;
  content: "";
  transition: all 0.3s ease-in-out;
}
header nav #nav-container #nav-mobile #burger-menu span:before {
  top: -10px;
}
header nav #nav-container #nav-mobile #burger-menu span:after {
  bottom: -10px;
}
header nav #nav-container #nav-mobile #burger-menu.active span {
  background-color: transparent;
}
header nav #nav-container #nav-mobile #burger-menu.active span:before, header nav #nav-container #nav-mobile #burger-menu.active span:after {
  top: 0;
}
header nav #nav-container #nav-mobile #burger-menu.active span:before {
  transform: rotate(45deg);
}
header nav #nav-container #nav-mobile #burger-menu.active span:after {
  transform: rotate(-45deg);
}
header nav::after {
  content: "";
  clear: both;
  display: table;
}

.selected {
  color: var(--primary-color) !important;
}

@media all and (min-width: 799px) {
  #nav-list {
    display: flex !important;
  }
}
@media all and (max-width: 799px) {
  header nav #nav-container {
    width: 100%;
    padding: 8vh 0 15px;
  }
  header nav #nav-container ul {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("https://w.wallhaven.cc/full/48/wallhaven-48e67o.jpg") no-repeat center fixed;
    background-size: cover;
    height: 92vh;
  }
  header nav #nav-container ul li {
    float: none;
  }
  header nav #nav-container ul li ul.nav-dropdown {
    position: static;
  }
  header nav #nav-container ul li a {
    padding: 15px;
    line-height: 20px;
  }
  header nav #nav-container ul li a:hover::before {
    width: 90%;
  }
  header nav #nav-container ul li ul li a {
    padding-left: 30px;
  }
  header nav #nav-container #nav-mobile {
    display: block;
  }
}
body {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../../res/architecture_indoors1.jpg") no-repeat center fixed;
  background-size: cover;
}

header {
  width: 100%;
  height: 95vh;
}
header main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "MD Grotesk", sans-serif;
  font-size: xx-large;
}
header main #hero-container {
  margin-left: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: -moz-min-content;
  max-width: min-content;
  max-width: 480px;
}
header main #hero-container h1 {
  color: white;
  font-size: 3em;
}
header main #hero-container p {
  margin-top: 0;
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: x-large;
  font-weight: 400;
  width: 600px;
}
header main #hero-container button {
  all: unset;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 100%;
  padding-top: 20px;
  margin-top: 20px;
  border: 3px solid white;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  padding: 10px;
}
header main #hero-container button p {
  all: unset;
}
header main #hero-container button:hover {
  background-color: white;
  color: black;
}
header main #hero-container button:hover p {
  font-weight: 900;
}

body, html {
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
}

section#about {
  background-color: white;
  height: 40vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
section#about h1 {
  padding-left: 100px;
  padding-top: 80px;
  font-size: xx-large;
}
section#about p {
  padding: 20px;
  padding-left: 100px;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */