@import url("https://fonts.cdnfonts.com/css/md-grotesk");
:root, [data-theme=dark] {
  --nav-inner-margin:7rem;
  --nav-logo-width:4rem;
  --nav--h1-size:2.5rem;
  --nav--font-size:1.6rem;
  --sec-padding:4.5rem;
}

header {
  max-width: 100%;
  position: relative;
  color: white;
}
header nav {
  z-index: 999;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 20px;
}
header nav #logo-container {
  flex: 1;
  padding-left: 20px;
}
header nav #logo-container a {
  text-decoration: none;
  color: white !important;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
}
header nav #logo-container a img {
  position: absolute;
  border: 1px solid black;
  margin-bottom: 50px;
  width: 150px;
  height: auto;
}
header nav #nav-container {
  flex: 2.5;
}
header nav #nav-container ul li {
  display: flex;
  gap: 40px;
  list-style-type: none;
  text-align: center;
}
header nav #nav-container ul li a {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-style: "Helvetica", sans-serif;
  font-size: large;
  text-decoration: none;
  text-transform: uppercase;
}
header nav #nav-container ul li a:hover {
  color: rgb(95, 95, 95);
}
header nav #nav-container ul li ul.nav-dropdown {
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 1.2rem 0 var(--shadow-color);
  display: none;
}
header nav #nav-container ul li ul.nav-dropdown li {
  min-width: 190px;
}
header nav #nav-container ul li ul.nav-dropdown li a {
  padding: 15px;
  line-height: 20px;
}
header nav #nav-container #nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}
header nav #nav-container #nav-mobile #burger-menu {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
header nav #nav-container #nav-mobile #burger-menu span,
header nav #nav-container #nav-mobile #burger-menu span:before,
header nav #nav-container #nav-mobile #burger-menu span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: var(--white-color);
  position: absolute;
  display: block;
  content: "";
  transition: all 0.3s ease-in-out;
}
header nav #nav-container #nav-mobile #burger-menu span:before {
  top: -10px;
}
header nav #nav-container #nav-mobile #burger-menu span:after {
  bottom: -10px;
}
header nav #nav-container #nav-mobile #burger-menu.active span {
  background-color: transparent;
}
header nav #nav-container #nav-mobile #burger-menu.active span:before, header nav #nav-container #nav-mobile #burger-menu.active span:after {
  top: 0;
}
header nav #nav-container #nav-mobile #burger-menu.active span:before {
  transform: rotate(45deg);
}
header nav #nav-container #nav-mobile #burger-menu.active span:after {
  transform: rotate(-45deg);
}
header nav::after {
  content: "";
  clear: both;
  display: table;
}

.selected {
  color: var(--primary-color) !important;
}

@media all and (min-width: 799px) {
  #nav-list {
    display: flex !important;
  }
}
@media all and (max-width: 799px) {
  header nav #nav-container {
    width: 100%;
    padding: 8vh 0 15px;
  }
  header nav #nav-container ul {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("https://w.wallhaven.cc/full/48/wallhaven-48e67o.jpg") no-repeat center fixed;
    background-size: cover;
    height: 92vh;
  }
  header nav #nav-container ul li {
    float: none;
  }
  header nav #nav-container ul li ul.nav-dropdown {
    position: static;
  }
  header nav #nav-container ul li a {
    padding: 15px;
    line-height: 20px;
  }
  header nav #nav-container ul li a:hover::before {
    width: 90%;
  }
  header nav #nav-container ul li ul li a {
    padding-left: 30px;
  }
  header nav #nav-container #nav-mobile {
    display: block;
  }
}
body {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../../res/architecture_indoors1.jpg") no-repeat center fixed;
  background-size: cover;
}

header {
  width: 100%;
  height: 95vh;
}
header main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-family: "MD Grotesk", sans-serif;
  font-size: xx-large;
}
header main #hero-container {
  margin-left: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: -moz-min-content;
  max-width: min-content;
  max-width: 480px;
}
header main #hero-container h1 {
  color: white;
  font-size: 3em;
}
header main #hero-container p {
  margin-top: 0;
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: x-large;
  font-weight: 400;
  width: 600px;
}
header main #hero-container button {
  all: unset;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 100%;
  padding-top: 20px;
  margin-top: 20px;
  border: 3px solid white;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  padding: 10px;
}
header main #hero-container button p {
  all: unset;
}
header main #hero-container button:hover {
  background-color: white;
  color: black;
}
header main #hero-container button:hover p {
  font-weight: 900;
}
header main #hero-img-container {
  margin-right: 25%;
}
header main #hero-img-container img {
  margin-left: 20%;
  width: 350px;
  filter: brightness(90%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
header main #hero-img-container .image-stack {
  position: relative;
  width: 100%;
}
header main #hero-img-container .image-stack .image-stack-item--bottom {
  position: absolute;
  right: -150px;
  top: -10px;
  padding-top: 80px;
  width: 80%;
  z-index: -1;
}
header main #hero-img-container .image-stack .image-stack-item--top {
  padding-bottom: 80px;
  right: 40px;
  width: 0%;
}

body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  height: 100vh;
}

section {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../../res/architecture_indoors1.jpg") no-repeat center fixed;
  background-size: cover;
  color: white;
}

section#about {
  max-height: 60vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
section#about .about-text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 20px;
  margin-left: 40px;
  margin-top: 40px;
  padding: 40px;
  padding-bottom: 0px;
  margin-bottom: 40px;
  flex-direction: column;
}
section#about .about-text h1 {
  font-size: 50px;
  font-weight: 900;
}
section#about .about-text p {
  all: unset;
  font-family: "Open Sans", sans-serif;
  font-size: larger;
  font-weight: 400;
}
section#about .about-text h6 {
  all: unset;
  font-family: "Open Sans", sans-serif;
  font-size: x-large;
  font-weight: 600;
}
section#about .about-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  flex-direction: column;
}
section#about .about-img h1 {
  font-size: 50px;
  font-weight: 900;
}
section#about .about-img img {
  width: 500px;
  height: 260px;
  border-radius: 1em;
}

section#achievements {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
section#achievements .ac {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}
section#achievements .ac h1 {
  all: unset;
  font-size: 80px;
  font-weight: 800;
}
section#achievements .ac p {
  font-size: larger;
  font-weight: 800;
}

section#our-work {
  background: none;
  height: 800px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
section#our-work h1 {
  font-size: 50px;
  font-weight: 900;
}
section#our-work .bento-grid-container {
  width: 900px;
  max-height: 600px;
  padding: 1em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
section#our-work .bento-grid-container *:not(img) {
  border-radius: 1.5em;
}
section#our-work .bento-grid-container img {
  width: 100%;
  height: 100%;
  border-radius: 1.5em;
}
section#our-work .bento-grid-container > .col-left {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: none;
}
section#our-work .bento-grid-container > .col-left > .row1 {
  flex: 1;
}
section#our-work .bento-grid-container > .col-left > .row2 {
  flex: 2;
}
section#our-work .bento-grid-container > .col-right {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: none;
}
section#our-work .bento-grid-container > .col-right > .row1 {
  flex: 2;
  max-height: 250px;
}
section#our-work .bento-grid-container > .col-right > .row2 {
  flex: 2;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  border: none;
}
section#our-work .bento-grid-container > .col-right > .row2 > .col-left {
  flex: 1;
}
section#our-work .bento-grid-container > .col-right > .row2 > .col-right {
  flex: 1;
}

section#services {
  background: none;
  height: 800px;
  padding: 20px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
section#services h1 {
  font-size: 50px;
  font-weight: 900;
}
section#services .services-parent {
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 40px;
}
section#services .services-parent .service {
  width: 300px;
  height: 280px;
  padding: 20px;
  border-radius: 25px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-shadow: 4px 4px 6px rgb(66, 68, 90);
}
section#services .services-parent .service .service-content {
  position: absolute;
}
section#services .services-parent .service .service-content h1 {
  font-size: 30px;
  font-weight: 900;
}
section#services .services-parent .service .service-content p {
  font-size: 20px;
  font-weight: 400;
}
section#services .services-parent .service.s1 {
  background-image: url("../res/House_Design.png");
  background-size: cover;
}
section#services .services-parent .service.s2 {
  background-image: url("../res/Office_Design.jpg");
  background-size: cover;
}/*# sourceMappingURL=style.css.map */