
$show-bg-color: false;

header {
    max-width: 100%;
    position: relative;
    // @include ele-bg($url: "../images/galaxy-bg.jpg");
    color: white;

    nav {
        z-index: 999;
        width: 100%;
        // background-color: black;
        @include bg-color($color: red, $show: $show-bg-color);
        position: fixed;

        // top: 0;
        // left: 0
        display: flex;
        // justify-content: space-between;
        align-items: center;
        padding: 20px;
        // background: transparent;
        // @include ele-bg($url: "../images/galaxy-bg.jpg");

        #logo-container {
            // display: flex;
            flex: 1;
            // background-color: blue;
            // @include bg-color($color: blue, $show: $show-bg-color);
            padding-left: 20px;
            // align-items: center;
            // position: relative;
            // position: absolute;  // ??
            // padding-left: 20px;
            // float: left;
            
            // line-height: 8dvh;  // fixed-size! - nav height
            // text-transform: uppercase;
            // font-size: 1.4em; // fixed-size!
            // font-weight: bold;
            // color: var(--color1);

            a {
                text-decoration: none;
                color: white !important;
                cursor: pointer;

                font-size: 1.5rem;
                font-weight: bold;

                img {
                    position: absolute;
                    border: 1px solid black;
                    // border: 1px solid black;
                    // padding-bottom: 50px;
                    margin-bottom: 50px;
                    width: 150px;
                    height: auto;
                }
            }
        }

        #nav-container {
            // float: right;
            // background-color: red;
            // @include bg-color($color: red, $show: $show-bg-color);
            flex: 3;

            // color: black;
            // padding-top: 15px;
            
            ul {
                
                li {  // #nav-list li
                    display: flex;
                    gap: 40px;
                    // @float-approach
                    // float: left;
                    // position: relative;
                    list-style-type: none;
                    text-align: center;
                    
                    a {
                        font-family: 'Open Sans', sans-serif;
                        // font-weight: 100;
                        // font-style: normal;
                        color: white;
                        // color: rgb(0, 123, 255);
                        // font-weight: bold;
                        // font-weight: 200;
                        font-style: 'Helvetica', sans-serif;

                        text-decoration: none;
                        text-transform: uppercase;

                        &:hover {
                            color: rgb(95, 95, 95);
                        }

                        // &::before {
                        //     transition: $transition-duration;
                        //     height: 5px;
                        //     content: "";
                        //     position: absolute;
                        //     background-color: var(--primary-color);
                        //     width: 0%;
                        //     bottom: -5px;
                        // }

                        // &:hover::before{
                        //     width: 75%;
                        // }
                        // &:not(:only-child):after {
                        //     padding-left: 4px;
                        //     content: ' ▾';
                        //     color: var(--color1);
                        // }
                    }

                    ul.nav-dropdown {
                        position: absolute;  // decisive
                        z-index: 1;
                        @include box-shadow;
                        display: none;

                        li {
                            min-width: 190px;  // fixed-size!

                            a {
                                // fixed-size!
                                    padding: 15px;
                                    line-height: 20px;

                                // &:hover::before{
                                //     width: 85%;
                                // }
                            }
                        }
                    }
                }
            }

            #nav-mobile {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                height: 70px;  // fixed-size! - nav
                width: 70px;  // fixed-size! - nav

                #burger-menu {
                    position: absolute;
                    left: 18px;
                    top: 22px;
                    cursor: pointer;
                    // fixed-size! ?
                    padding: 10px 35px 16px 0px;

                    span,
                    span:before,
                    span:after {
                        cursor: pointer;
                        border-radius: 1px;
                        // fixed-size!
                            height: 5px;
                            width: 35px;
                        background: var(--white-color);
                        position: absolute;
                        display: block;
                        content: '';
                        transition: all $transition-duration ease-in-out;
                    }

                    span:before {top: -10px;}
                    span:after {bottom: -10px;}

                    &.active span {
                        background-color: transparent;
                        &:before,
                        &:after{top: 0;}
                        &:before {transform: rotate(45deg)}
                        &:after {transform: rotate(-45deg)}
                    }
                }
            }
        }

        // clearfix
        &::after {
            content: "";
            clear: both;
            display: table;
        }
    }
}

.selected {
    color: var(--primary-color) !important
}

// MQ

// overwrite script so that when it's bigger than $mq-max-width
// the nav shows the bi-screens way
@media all and (min-width: $mq-max-width) {
    #nav-list {
        display: flex !important;
    }
}

@media all and (max-width: $mq-max-width) {
    header nav #nav-container {
        width: 100%;  // <>
        padding: 8vh 0 15px;  // fixed-size!
        ul {
            display: none;
            flex-direction: column;
            justify-content: space-around;


            @include ele-bg($url: "https://w.wallhaven.cc/full/48/wallhaven-48e67o.jpg");
            height: 92vh;
            li {
                float: none;  // <>

                ul.nav-dropdown {
                    position: static;
                }

                a {
                    // fixed-size!
                        padding: 15px;
                        line-height: 20px;

                        &:hover::before{
                            width: 90%;
                        }
                }

                ul li a {
                    padding-left: 30px;
                }
            }
        }

        #nav-mobile {
            display: block;
        }
    }
}